@import url("bootstrap.min.css");
@import url("bootstrap-icons.css");
@import url("animate.css");
@import url("jquery-ui.css");
@import url("menu.css");
@import url("owl.carousel.min.css");
@import url("owl.theme.default.min.css");
@import url("jquery.fancybox.min.css");
@import url("slick.css");
:root {
  --font-main-color: #262626;
  --black-color: #000;
  --red-color: #1A17DF;
  --white-color: #ffffff;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1A17DF;
}

html {
  font-size: 16px;
}

body {
  font: 100% "Kanit", sans-serif;
  line-height: 2;
  color: var(--font-main-color);
  font-weight: 300;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.wrapper {
  margin: 60px 0;
}

.bi::before {
  display: inline-block;
  vertical-align: middle;
}

.two-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-default {
  padding: 0 30px;
  height: 35px;
  color: #444;
  text-transform: uppercase;
  border-radius: 50px;
  display: inline-block;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 35px;
  transition: 0.5s;
  text-decoration: none;
  min-width: 110px;
  text-align: center;
  border: 0;
}
.btn-default.btn-red {
  color: var(--white-color);
  background-color: #1A17DF;
}
.btn-default:hover {
  background-color: var(--font-main-color);
  color: var(--white-color);
}

.topic-head {
  font-size: 2.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.topic-head span {
  font-weight: 200;
}

.txt-red {
  color: #1A17DF;
}

.btn-readMore-line {
  color: var(--black-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}
.btn-readMore-line::before {
  content: "";
  width: 40px;
  height: 2px;
  background: var(--black-color);
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(1);
  transform-origin: left center;
  transition: 0.5s;
}
.btn-readMore-line:hover {
  color: var(--black-color);
}
.btn-readMore-line:hover::before {
  color: var(--black-color);
  transform: scaleX(1);
  width: 60px;
}

.item-dateShare {
  letter-spacing: 1px;
  font-size: 0.9rem;
  line-height: 1rem;
}

.owl-carousel.owl-bannerSlide {
  overflow: hidden;
  margin-top: 60px;
}
.owl-carousel.owl-bannerSlide .owl-item {
  max-height: 780px;
  overflow: hidden;
}
.owl-carousel.owl-bannerSlide .owl-item figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}
.owl-carousel.owl-bannerSlide .owl-item figure::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 40.625%;
}
.owl-carousel.owl-bannerSlide .owl-item figure > img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  transition: 1s all ease;
  -o-object-position: top center;
     object-position: top center;
}
.owl-carousel.owl-bannerSlide .owl-item figure:hover > img {
  transform: scale(1);
}
.owl-carousel.owl-bannerSlide .owl-item img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  transform: scale(1.15);
  transition: 2.5s all ease;
}
.owl-carousel.owl-bannerSlide .owl-item.active img {
  transform: scale(1);
  transition: 5s all ease;
}
.owl-carousel.owl-bannerSlide .owl-dots {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
}
.owl-carousel.owl-bannerSlide .owl-dots .owl-dot span {
  background: #e6e6e6;
  width: 15px;
  height: 8px;
  margin: 5px;
  transition: 0.5s;
}
.owl-carousel.owl-bannerSlide .owl-dots .owl-dot.active span, .owl-carousel.owl-bannerSlide .owl-dots .owl-dot:hover span {
  background: #1A17DF;
  width: 25px;
}

.slide-nav .owl-carousel .owl-nav .owl-prev {
  background-image: url(../images/icon_arrow.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 42%;
  left: 10px;
  opacity: 0.5;
  transform: translate(-80px, 0);
}
.slide-nav .owl-carousel .owl-nav .owl-prev:hover {
  background-image: url(../images/icon_arrow.svg);
}
.slide-nav .owl-carousel .owl-nav .owl-next {
  background-image: url(../images/icon_arrow.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 42%;
  right: 10px;
  transform: rotate(-180deg) translate(-80px, 0);
  opacity: 0.5;
}
.slide-nav .owl-carousel .owl-nav .owl-next:hover {
  background-image: url(../images/icon_arrow.svg);
}
.slide-nav .owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent;
}

.warp_welcome {
  background: url(../images/bg-03.jpg);
  background-position: 100%;
  background-size: cover;
  padding: 5% 0;
}
.warp_welcome .pad-bottom {
  padding-bottom: 30%;
}
.warp_welcome .topic-head {
  position: relative;
  margin-bottom: 20px;
}
.warp_welcome .topic-head::before {
  content: "";
  width: 6%;
  height: 5px;
  position: absolute;
  background: #1A17DF;
  bottom: 0;
  left: 47%;
  right: 47%;
}
.warp_welcome .topic-sub {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
}

.warp_products {
  background: url(../images/bg-02.jpg);
  background-position: 100%;
  background-size: cover;
  padding: 6% 0;
}
.warp_products .topic-head {
  position: relative;
  margin-bottom: 20px;
}
.warp_products .topic-head::before {
  content: "";
  width: 6%;
  height: 5px;
  position: absolute;
  background: #1A17DF;
  bottom: 0;
  left: 47%;
  right: 47%;
}
.warp_products .item {
  height: 240px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  background: #eaeaea;
  margin-top: 30px;
  padding-top: 35px;
  position: relative;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.warp_products .item h2 {
  width: 100%;
  margin: 0;
  color: var(--black-color);
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 1px;
  position: absolute;
  top: 15px;
  text-align: center;
  z-index: 1;
  letter-spacing: 1;
}
.warp_products .item img {
  width: 100%;
  height: auto;
  transition: all 0.8s;
}
.warp_products .item:hover img {
  transform: scale(1.1);
  transition: all 0.8s;
  opacity: 0.8;
}
.warp_products .item:hover .caption {
  opacity: 1;
  bottom: 0;
}
.warp_products .item .caption {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -50px;
  opacity: 0;
  transition: all 0.4s;
}
.warp_products .item .caption p {
  margin: 0;
  padding: 5px 15px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  background: #1A17DF;
}

.warp_products.page {
  background: none;
  margin-bottom: 50px;
}
.warp_products.page .item {
  height: auto;
  padding-top: 0;
}
.warp_products.page .item .caption {
  top: 0;
  padding: 110px 0;
  background: #1A17DF;
}
.warp_products.page .item .caption h2 {
  position: static;
  margin: 10px 0;
  color: #fff;
  font-weight: 500;
}
.warp_products.page .item .caption p {
  width: 50%;
  margin: 0 auto;
  border-radius: 50px;
  font-size: 0.8rem;
}

.warp_news {
  background: url(../images/bg-03.jpg);
  background-position: 100%;
  background-size: cover;
  padding: 6% 0;
}
.warp_news .header {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.warp_news .header .topic-head {
  width: 50%;
  border-left: 4px solid #1A17DF;
  line-height: 1;
  padding-left: 15px;
  float: left;
}
.warp_news .header .view-all {
  width: 50%;
  float: right;
  text-align: right;
}
.warp_news .items {
  padding-bottom: 20px;
}
.warp_news .items a {
  display: block;
  text-decoration: none;
}
.warp_news .items figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  margin-bottom: 15px;
}
.warp_news .items figure::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 68.1818181818%;
}
.warp_news .items figure > img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  transition: 1s all ease;
  -o-object-position: top center;
     object-position: top center;
}
.warp_news .items figure:hover > img {
  transform: scale(1);
}
.warp_news .items .item-dateShare {
  margin: 5px 0 10px;
}
.warp_news .items .btn-readMore-line {
  margin-top: 10px;
  font-size: 0.8rem;
}
.warp_news .items .btn-readMore-line::before {
  background: #1A17DF;
  bottom: 8px;
  left: 82px;
}
.warp_news .items .latest {
  color: var(--font-main-color);
}
.warp_news .items:hover figure img {
  transform: scale(1.05);
}
.warp_news .items:hover .btn-readMore-line::before {
  width: 60px;
}

.bannerTop {
  margin-top: 60px;
}
.bannerTop img {
  width: 100%;
  height: auto;
}

.bannerTop.absolute {
  position: relative;
}
.bannerTop.absolute .text-banner {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 0;
}
.bannerTop.absolute .text-banner .topic-head {
  line-height: 1;
}
.bannerTop.absolute .text-banner .topic-head::before {
  content: "";
  width: 60px;
  height: 4px;
  position: absolute;
  bottom: 0;
  background: #1A17DF;
}

.warp_history {
  padding: 30px 0;
}
.warp_history .topic-head {
  position: relative;
  margin-bottom: 20px;
}
.warp_history .topic-head::before {
  content: "";
  width: 60px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #1A17DF;
}

.warp_distribution {
  background: url(../images/bg-03.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 30px 0;
}
.warp_distribution .owl-distribution {
  margin: 20px 0;
}
.warp_distribution .owl-distribution .items img {
  width: 100%;
  position: relative;
}
.warp_distribution .owl-distribution .items .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: var(--white-color);
  background: #1A17DF;
  z-index: 2;
  padding: 5px;
}

.warp_group {
  padding: 30px 0;
}
.warp_group .topic-head {
  position: relative;
}
.warp_group .topic-head::before {
  content: "";
  width: 6%;
  height: 4px;
  position: absolute;
  bottom: 5px;
  left: 47%;
  background: #1A17DF;
}
.warp_group img {
  width: 100%;
  padding: 20px;
}

.warp_timeline {
  background: url(../images/bg-04.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 30px 0;
}
.warp_timeline .owl-dots {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
}
.warp_timeline .owl-dots .owl-dot span {
  background: #e6e6e6;
  width: 15px;
  height: 8px;
  margin: 5px;
  transition: 0.5s;
}
.warp_timeline .owl-dots .owl-dot.active span, .warp_timeline .owl-dots .owl-dot:hover span {
  background: #1A17DF;
  width: 25px;
}
.warp_timeline .content .topic-head {
  color: #1A17DF;
  position: relative;
}
.warp_timeline .content .topic-head::before {
  content: "";
  width: 70%;
  height: 1px;
  position: absolute;
  bottom: 30px;
  right: 0;
  background: #1A17DF;
}
.warp_timeline .content li {
  position: relative;
  padding-left: 20px;
  line-height: 1.5rem;
  margin-bottom: 15px;
}
.warp_timeline .content li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 5px;
  background: #1A17DF;
}

.warp_industry {
  margin-top: 5%;
}
.warp_industry .topic-head {
  position: relative;
  margin-bottom: 30px;
}
.warp_industry .topic-head::before {
  content: "";
  width: 60px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #1A17DF;
}
.warp_industry .item-sector {
  margin-bottom: 30px;
}
.warp_industry .item-sector .image {
  position: relative;
  margin-bottom: 30px;
}
.warp_industry .item-sector .image img {
  width: 100%;
}
.warp_industry .item-sector .image .logo-in {
  position: absolute;
  bottom: 0;
  left: 0;
}

.icon-left {
  width: 90px;
  position: absolute;
  left: 20px;
  margin-top: 20px;
}
.icon-left .item {
  width: 80px;
  height: 80px;
  margin: 10px auto;
  background: #bfbfbf;
  text-align: center;
  display: block;
  border-radius: 5px;
  color: var(--white-color);
  text-decoration: none;
  padding: 5px;
  transition: all 0.4s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 2px;
}
.icon-left .item.active {
  background: #1A17DF;
}
.icon-left .item img {
  width: 50px;
}
.icon-left .item span {
  font-size: 11px;
  display: block;
  line-height: 8px;
}
.icon-left .item:hover {
  background: #1A17DF;
}

.breadcrumb-head {
  border-bottom: 1px solid #d7d7d7;
}
.breadcrumb-head .breadcrumb {
  margin-bottom: 0;
  padding: 15px 0;
}
.breadcrumb-head .breadcrumb .breadcrumb-item a {
  color: var(--font-main-color);
  text-decoration: none;
}
.breadcrumb-head .breadcrumb .breadcrumb-item a:hover {
  color: #1A17DF;
}
.breadcrumb-head .breadcrumb .breadcrumb-item.active {
  color: #1A17DF;
}

.list-category {
  margin: 30px 0;
}
.list-category li {
  margin: 5px 0;
}
.list-category li a {
  padding: 5px 15px;
  background: #f0f0f0;
  color: var(--font-main-color);
  text-decoration: none;
  display: block;
  transition: all 0.4s;
}
.list-category li a:hover {
  background: #1A17DF;
  color: var(--white-color);
}
.list-category li a:hover span {
  opacity: 1;
}
.list-category li a span {
  float: right;
  opacity: 0;
  font-size: 18px;
  margin-top: -3px;
}

.col-products {
  margin: 30px 0;
}
.col-products .box-pd {
  margin-bottom: 20px;
}
.col-products .box-pd a {
  display: block;
  text-decoration: none;
  color: var(--font-main-color);
  font-weight: 500;
}
.col-products .box-pd figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  margin-bottom: 15px;
  border: 1px solid #ebebeb;
}
.col-products .box-pd figure::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}
.col-products .box-pd figure > img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  transition: 1s all ease;
  -o-object-position: top center;
     object-position: top center;
}
.col-products .box-pd figure:hover > img {
  transform: scale(1);
}
.col-products .box-pd:hover figure img {
  transform: scale(1.2);
}
.col-products .box-pd:hover p {
  color: #1A17DF;
}

.detail-product {
  margin-top: 5%;
}
.detail-product .topic-head {
  color: #1A17DF;
  line-height: 2;
  font-size: 2rem;
}
.detail-product .model {
  font-weight: 500;
}
.detail-product .wrap_banner .owl-productSlide .owl-dots {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
}
.detail-product .wrap_banner .owl-productSlide .owl-dots .owl-dot span {
  background: #e6e6e6;
  width: 15px;
  height: 8px;
  margin: 5px;
  transition: 0.5s;
}
.detail-product .wrap_banner .owl-productSlide .owl-dots .owl-dot.active span, .detail-product .wrap_banner .owl-productSlide .owl-dots .owl-dot:hover span {
  background: #1A17DF;
  width: 25px;
}
.detail-product .icon-left {
  margin-top: 70px;
  z-index: 5;
}
.detail-product img {
  width: 100%;
  height: auto;
}
.detail-product .content-pd .specification {
  background: var(--white-color);
  padding: 30px;
  border-left: 5px solid #1A17DF;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px;
}
.detail-product .content-pd .specification h5 {
  font-weight: 500;
}
.detail-product .content-pd .specification p {
  margin-bottom: 5px;
  font-size: 0.8rem;
}
.detail-product .download {
  text-align: center;
  margin: 30px 0;
}
.detail-product .download a {
  background: #1A17DF;
  color: var(--white-color);
  padding: 8px 40px;
  border-radius: 40px;
  text-decoration: none;
  font-size: 0.8rem;
  display: inline-block;
  text-align: center;
  transition: all 0.4s;
}
.detail-product .download a:hover {
  background: var(--black-color);
}

.warp_ct_news {
  margin-top: 5%;
}
.warp_ct_news .topic-head {
  position: relative;
  margin-bottom: 30px;
}
.warp_ct_news .topic-head::before {
  content: "";
  width: 60px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #1A17DF;
}
.warp_ct_news .top-news {
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
}
.warp_ct_news .top-news .img {
  width: 50%;
  float: left;
}
.warp_ct_news .top-news .img figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  margin-bottom: 15px;
}
.warp_ct_news .top-news .img figure::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 60.8108108108%;
}
.warp_ct_news .top-news .img figure > img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  transition: 1s all ease;
  -o-object-position: top center;
     object-position: top center;
}
.warp_ct_news .top-news .img figure:hover > img {
  transform: scale(1);
}
.warp_ct_news .top-news .ct-right {
  width: 50%;
  float: right;
  padding: 20px;
}
.warp_ct_news .top-news .ct-right a h4 {
  color: var(--font-main-color);
}
.warp_ct_news .items {
  padding-bottom: 20px;
}
.warp_ct_news .items a {
  display: block;
  text-decoration: none;
}
.warp_ct_news .items figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  margin-bottom: 15px;
}
.warp_ct_news .items figure::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 68.1818181818%;
}
.warp_ct_news .items figure > img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  transition: 1s all ease;
  -o-object-position: top center;
     object-position: top center;
}
.warp_ct_news .items figure:hover > img {
  transform: scale(1);
}
.warp_ct_news .items .item-dateShare {
  margin: 5px 0 10px;
}
.warp_ct_news .items .btn-readMore-line {
  margin-top: 10px;
  font-size: 0.8rem;
}
.warp_ct_news .items .btn-readMore-line::before {
  background: #1A17DF;
  bottom: 8px;
  left: 82px;
}
.warp_ct_news .items .latest {
  color: var(--font-main-color);
}
.warp_ct_news .items:hover figure img {
  transform: scale(1.05);
}
.warp_ct_news .items:hover .btn-readMore-line::before {
  width: 60px;
}

.warp_detail_news {
  margin-top: 5%;
}
.warp_detail_news .header {
  border-left: 5px solid #1A17DF;
  margin-bottom: 20px;
  padding: 0 20px;
}
.warp_detail_news .header .topic-head {
  font-size: 1.8rem;
  line-height: 1.2;
}
.warp_detail_news .detail .img img {
  width: 100%;
  height: auto;
}

.warp_ct_news.mt {
  margin-top: 150px;
}

.warp_vdo {
  margin-top: 5%;
  margin-bottom: 30px;
}
.warp_vdo .topic-head {
  border-left: 5px solid #1A17DF;
  padding-left: 15px;
}
.warp_vdo .btn-default {
  float: right;
  margin-top: 20px;
}

.bg-gray {
  background: #ebebeb;
  margin-bottom: 30px;
}

.slider {
  width: 60%;
  margin: 0 auto;
}
.slider .top-vdo {
  display: block;
  width: 100%;
  padding: 50px 0 20px;
  text-align: center;
  font-size: 2em;
}
.slider .top-vdo .topic_head {
  font-size: 2rem;
  line-height: 1;
  margin-top: 20px;
  color: var(--green-color);
  text-transform: uppercase;
}

.slider-nav {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 5%;
}
.slider-nav .item {
  display: inline-block;
  width: 280px;
  height: auto;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.slider-nav .item .txt-vdo {
  color: var(--font-main-color);
  padding: 10px;
  z-index: 2;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: scale(0.5s);
  border: 4px solid var(--green-color);
}
.slider-nav .item .txt-vdo p {
  margin: 0;
}
.slider-nav .item img {
  width: 100%;
  height: auto;
  opacity: 1;
  padding: 2px;
  border: 4px solid transparent;
}
.slider-nav .item:hover img {
  border: 4px solid #ebebeb;
}

.warp_contact {
  padding: 30px 0;
  background: url(../images/bg-contact.png);
  background-position: bottom right;
  background-size: auto;
  background-repeat: no-repeat;
}
.warp_contact .topic-head {
  position: relative;
  margin-bottom: 20px;
}
.warp_contact .topic-head::before {
  content: "";
  width: 60px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #1A17DF;
}
.warp_contact p i {
  color: #1A17DF;
  margin-right: 5px;
}
.warp_contact p a {
  color: var(--font-main-color);
  text-decoration: none;
}

.warp_footer .followUs li {
  width: 35px;
  float: left;
}
.warp_footer .followUs li a {
  display: block;
  padding: 5px;
}
.warp_footer .followUs li a img {
  width: 100%;
}
.warp_footer .shopping {
  width: 100%;
  display: inline-block;
  margin: 20px 0;
}
.warp_footer .shopping li {
  float: left;
}
.warp_footer .shopping li a {
  display: block;
}
.warp_footer .shopping li a img {
  width: 60px;
  padding: 5px;
}

.form-warranty {
  margin: 5% 0;
}
.form-warranty .header {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
}
.form-warranty .header .col-left {
  width: 50%;
  float: left;
  position: relative;
}
.form-warranty .header .col-left .topic-head {
  line-height: 1;
}
.form-warranty .header .col-left::before {
  content: "";
  width: 60px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #1A17DF;
}
.form-warranty .header .col-right {
  width: 50%;
  float: right;
}
.form-warranty .header .col-right .has-search {
  width: 60%;
  float: right;
  margin-top: 25px;
  position: relative;
}
.form-warranty .header .col-right .has-search span {
  position: absolute;
  right: 10px;
  top: 10px;
}
.form-warranty .header .col-right .has-search .form-control {
  font-weight: 300;
}
.form-warranty form label span {
  color: #1A17DF;
}
.form-warranty form h5 {
  margin: 15px 0;
}
.form-warranty form ul {
  width: 100%;
  display: inline-block;
}
.form-warranty form ul li {
  width: 25%;
  height: 50px;
  float: left;
}
.form-warranty form ul li .form-check {
  padding-left: 0;
}
.form-warranty form .purchasing {
  width: 100%;
  display: inline-block;
}
.form-warranty form .purchasing s li {
  width: 50%;
  float: left;
}

.form-check-input {
  position: absolute;
  opacity: 0;
}
.form-check-input + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.form-check-input + label:before {
  content: "";
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: white;
}
.form-check-input:hover + label:before {
  background: #1A17DF;
}
.form-check-input:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.form-check-input:checked + label:before {
  background: #1A17DF;
}
.form-check-input:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 13px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.form-control {
  font-weight: 300;
}

#datepicker .input-group-addon {
  position: absolute;
  right: 10px;
  font-size: 18px;
  color: #a9a9a9;
}

.datepicker.dropdown-menu {
  margin-top: 5%;
}

footer {
  background: #d9d9d9;
  padding: 40px 0;
  color: #666666;
}
footer .info {
  padding-right: 80px;
}
footer .info h3 {
  font-size: 1.4rem;
  color: #1A17DF;
  text-transform: uppercase;
}
footer h4 {
  font-size: 1.1rem;
  margin: 0;
}
footer .link-page a {
  color: #666666;
  text-decoration: none;
}
footer .link-page a:hover {
  color: #1A17DF;
}
footer .qrCode {
  text-align: center;
}

.footer_bottom {
  background: #1A17DF;
  color: var(--white-color);
  padding: 5px 0;
}
.footer_bottom .copyright {
  font-size: 0.9rem;
}
.footer_bottom .social {
  float: right;
  margin: 0;
}
.footer_bottom .social li {
  float: left;
}
.footer_bottom .social li a {
  color: var(--white-color);
  padding: 0 5px;
}

/*responsive*/
@media (max-width: 991px) {
  .topic-head {
    font-size: 1.8rem;
  }
  .warp_welcome {
    background-position: 55%;
  }
  .warp_welcome .topic-sub {
    width: 100%;
  }
  .warp_products .item {
    height: auto;
    margin-top: 15px;
  }
  .warp_products .item h2 {
    font-size: 0.8rem;
  }
  .warp_products.page .item .caption {
    padding: 45px 0;
  }
  .warp_products.page .item .caption p {
    width: 80%;
  }
  .slide-nav .owl-carousel .owl-nav .owl-prev {
    left: 45px;
  }
  .slide-nav .owl-carousel .owl-nav .owl-next {
    right: 45px;
  }
  .icon-left {
    width: 100%;
    position: static;
    display: inline-block;
    margin: 15px 30px;
  }
  .icon-left .item {
    width: 90px;
    height: 65px;
    float: left;
    margin: 0 5px;
  }
  .icon-left .item img {
    width: 40px;
  }
  .list-category {
    margin: 10px 0;
  }
  .list-category li {
    font-size: 10px;
  }
  .col-products {
    margin: 10px 0 30px;
  }
  .detail-product .content-pd {
    top: 15%;
    left: 5%;
  }
  .detail-product .content-pd .specification {
    background: none;
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .warp_ct_news .top-news .ct-right {
    padding: 0 20px;
  }
  .warp_detail_news .header .topic-head {
    font-size: 1rem;
  }
  .warp_detail_news .detail .img {
    margin-bottom: 20px;
  }
  .slider {
    width: 100%;
  }
  .slider .top-vdo .topic_head {
    font-size: 1.5rem;
  }
  .slider-nav .item .txt-vdo {
    font-size: 1rem;
  }
  .warp_contact {
    background-size: contain;
    background-repeat: no-repeat;
  }
  footer .info {
    padding: 0;
  }
  footer .info h3 {
    font-size: 1rem;
  }
  footer .qrCode img {
    width: 100%;
    height: auto;
  }
  footer h4 {
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  .topic-head {
    font-size: 1.5rem;
  }
  .warp_welcome {
    background-position: 52%;
  }
  .bannerTop.absolute .text-banner {
    display: none;
  }
  .icon-left {
    width: 100%;
    position: static;
    display: inline-block;
    margin: 15px 0;
  }
  .icon-left .item {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 5px;
  }
  .icon-left .item img {
    width: 40px;
  }
  .icon-left .item span {
    display: none;
  }
  .list-category {
    margin: 5px 0;
  }
  .detail-product .icon-left {
    display: none;
  }
  .detail-product .content-pd {
    position: static;
  }
  .detail-product .content-pd .topic-head {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .detail-product .content-pd .specification {
    border: none;
  }
  .warp_ct_news .top-news .img {
    width: 100%;
  }
  .warp_ct_news .top-news .ct-right {
    width: 100%;
  }
  .warp_detail_news .header .topic-head {
    font-size: 1.5rem;
  }
  .warp_vdo .topic-head {
    font-size: 1.5rem;
    padding: 0 5px;
  }
  .warp_vdo .btn-default {
    padding: 0 20px;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  .slider {
    width: 100%;
  }
  .slider .top-vdo .topic_head {
    font-size: 1.2rem;
  }
  .slider-nav .item {
    margin: 0 2px;
  }
  .slider-nav .item .txt-vdo {
    font-size: 0.8rem;
  }
  .warp_contact {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .form-warranty .header .col-right {
    width: 100%;
  }
  .form-warranty .header .col-right .has-search {
    width: 100%;
  }
  .form-warranty .header .col-left {
    width: 100%;
  }
  .form-warranty form ul li {
    width: 100%;
  }
  footer .info h3 {
    font-size: 1.2rem;
  }
  .footer_bottom .copyright {
    text-align: center;
  }
  .footer_bottom .mobile-center {
    text-align: center;
  }
  .footer_bottom .mobile-center .social {
    margin: 0 auto;
    display: inline-block;
    float: none;
  }
}/*# sourceMappingURL=layout.css.map */