:root {
  --font-main-color: #262626;
  --black-color: #000;
  --red-color: #e01737;
  --white-color: #ffffff;
}

$font-family: "Kanit", sans-serif;
$main-color: var(--font-main-color);
$black-color: var(--black-color);
$red-color: var(--red-color);
$white-color: var(--white-color);
@import url("bootstrap.min.css");
@import url("bootstrap-icons.css");
@import url("animate.css");
@import url("jquery-ui.css");
@import url("menu.css");
@import url("owl.carousel.min.css");
@import url("owl.theme.default.min.css");
@import url("jquery.fancybox.min.css");
@import url("slick.css");

@mixin dottext($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin img-cover($w, $h, $hs: 1) {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: $h/$w * 100%;
  }
  > img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    transition: 1s all ease;
    object-position: top center;
  }
  &:hover {
    > img {
      transform: scale($hs);
    }
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--red-color);
}

html {
  font-size: 16px;
}
body {
  font: 100% $font-family;
  line-height: 2;
  color: $main-color;
  font-weight: 300;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}

.wrapper {
  margin: 60px 0;
}

.bi {
  &::before {
    display: inline-block;
    vertical-align: middle;
  }
}

.two-line {
  @include dottext(2);
}

.three-line {
  @include dottext(3);
}

.btn-default {
  padding: 0 30px;
  height: 35px;
  color: #444;
  text-transform: uppercase;
  border-radius: 50px;
  display: inline-block;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 35px;
  transition: 0.5s;
  text-decoration: none;
  min-width: 110px;
  text-align: center;
  border: 0;
  &.btn-red {
    color: var(--white-color);
    background-color: $red-color;
  }
  &:hover {
    background-color: var(--font-main-color);
    color: var(--white-color);
  }
}

.topic-head {
  font-size: 2.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  span {
    font-weight: 200;
  }
}

.txt-red {
  color: $red-color;
}

.btn-readMore-line {
  color: var(--black-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  &::before {
    content: "";
    width: 40px;
    height: 2px;
    background: $black-color;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(1);
    transform-origin: left center;
    transition: 0.5s;
  }
  &:hover {
    color: $black-color;
    &::before {
      color: $black-color;
      transform: scaleX(1);
      width: 60px;
    }
  }
}

.item-dateShare {
  letter-spacing: 1px;
  font-size: 0.9rem;
  line-height: 1rem;
}

.owl-carousel {
  &.owl-bannerSlide {
    overflow: hidden;
    margin-top: 60px;
    .owl-item {
      max-height: 780px;
      overflow: hidden;
      figure {
        @include img-cover($w: 1600, $h: 650);
      }
      img {
        display: block;
        object-fit: cover;
        object-position: center center;
        transform: scale(1.15);
        transition: 2.5s all ease;
      }
      &.active {
        img {
          transform: scale(1);
          transition: 5s all ease;
        }
      }
    }
    
    .owl-dots {
      position: absolute;
      bottom: 15px;
      text-align: center;
      width: 100%;
      .owl-dot {
        span {
          background: #e6e6e6;
          width: 15px;
          height: 8px;
          margin: 5px;
          transition: 0.5s;
        }
        &.active,
        &:hover {
          span {
            background: #e01737;
            width: 25px;
          }
        }
      }
    }
  }
}

.owl-carousel {
  &.owl-hotelSlide {
    overflow: hidden;
    margin-top: 60px;
    .owl-item {
      max-height: 100px;
      overflow: hidden;
      figure {
        @include img-cover($w: 1600, $h: 650);
      }
      img {
        display: block;
        object-fit: cover;
        object-position: center center;
        transform: scale(1.15);
        transition: 2.5s all ease;
      }
      &.active {
        img {
          transform: scale(1);
          transition: 5s all ease;
        }
      }
    }
    
    .owl-dots {
      position: absolute;
      bottom: 15px;
      text-align: center;
      width: 100%;
      .owl-dot {
        span {
          background: #e6e6e6;
          width: 15px;
          height: 8px;
          margin: 5px;
          transition: 0.5s;
        }
        &.active,
        &:hover {
          span {
            background: #e01737;
            width: 25px;
          }
        }
      }
    }
  }
}

.slide-nav {
  .owl-carousel {
    .owl-nav {
      .owl-prev {
        background-image: url(../images/icon_arrow.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 42%;
        left: 10px;
        opacity: 0.5;
        transform: translate(-80px, 0);
        &:hover {
          background-image: url(../images/icon_arrow.svg);
        }
      }
      .owl-next {
        background-image: url(../images/icon_arrow.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 42%;
        right: 10px;
        transform: rotate(-180deg) translate(-80px, 0);
        opacity: 0.5;
        &:hover {
          background-image: url(../images/icon_arrow.svg);
        }
      }
    }
  }
  .owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
  }
}

.warp_welcome {
  background: url(../images/s_yanhee.jpg);
  background-position: 100%;
  background-size: cover;
  padding: 5% 0;
  .pad-bottom {
    padding-bottom: 30%;
  }
  .topic-head {
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: "";
      width: 6%;
      height: 5px;
      position: absolute;
      background: #e01737;
      bottom: 0;
      left: 47%;
      right: 47%;
    }
  }
  .topic-sub {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
  }
}

.warp_products {
  background: url(../images/bg-02.jpg);
  background-position: 100%;
  background-size: cover;
  padding: 6% 0;
  .topic-head {
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: "";
      width: 6%;
      height: 5px;
      position: absolute;
      background: var(--red-color);
      bottom: 0;
      left: 47%;
      right: 47%;
    }
  }
  .item {
    height: 240px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    background: #eaeaea;
    margin-top: 30px;
    padding-top: 35px;
    position: relative;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 10%);
    h2 {
      width: 100%;
      margin: 0;
      color: var(--black-color);
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: 1px;
      top: 15px;
      text-align: center;
      z-index: 1;
      letter-spacing: 1;
    }
    img {
      width: 100%;
      height: auto;
      transition: all 0.8s;
    }
    &:hover {
      img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
        opacity: 0.8;
      }
      .caption {
        opacity: 1;
        bottom: 0;
      }
    }
    .caption {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: -50px;
      opacity: 0;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      p {
        margin: 0;
        padding: 5px 15px;
        color: #fff;
        font-size: 1rem;
        letter-spacing: 1px;
        background: #dc1e39;
      }
    }
  }
}

.warp_products {
  &.page {
    background: none;
    margin-bottom: 50px;
    .item {
      height: auto;
      padding-top: 0;
      .caption {
        top: 0;
        padding: 110px 0;
        background: rgb(255, 0, 0, 0.5);
        h2 {
          position: static;
          margin: 10px 0;
          color: #fff;
          font-weight: 500;
        }
        p {
          width: 50%;
          margin: 0 auto;
          border-radius: 50px;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.warp_news {
  background: url(../images/bg-03.jpg);
  background-position: 100%;
  background-size: cover;
  padding: 6% 0;
  .header {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    .topic-head {
      width: 50%;
      border-left: 4px solid var(--red-color);
      line-height: 1;
      padding-left: 15px;
      float: left;
    }
    .view-all {
      width: 50%;
      float: right;
      text-align: right;
    }
  }
  .items {
    padding-bottom: 20px;
    a {
      display: block;
      text-decoration: none;
    }
    figure {
      @include img-cover($w: 440, $h: 300);
      margin-bottom: 15px;
    }
    .item-dateShare {
      margin: 5px 0 10px;
    }
    .btn-readMore-line {
      margin-top: 10px;
      font-size: 0.8rem;
      &::before {
        background: $red-color;
        bottom: 8px;
        left: 82px;
      }
    }
    .latest {
      color: $main-color;
    }
    &:hover {
      figure {
        img {
          transform: scale(1.05);
        }
      }
      .btn-readMore-line {
        &::before {
          width: 60px;
        }
      }
    }
  }
}

.bannerTop {
  margin-top: 60px;
  img {
    width: 100%;
    height: auto;
  }
}

.bannerTop {
  &.absolute {
    position: relative;
    .text-banner {
      width: 100%;
      position: absolute;
      top: 40%;
      left: 0;
      .topic-head {
        line-height: 1;
        &::before {
          content: "";
          width: 60px;
          height: 4px;
          position: absolute;
          bottom: 0;
          background: var(--red-color);
        }
      }
    }
  }
}

.warp_history {
  padding: 30px 0;
  .topic-head {
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: "";
      width: 60px;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: var(--red-color);
    }
  }
}

.warp_distribution {
  background: url(../images/bg-03.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 30px 0;
  .owl-distribution {
    margin: 20px 0;
    .items {
      img {
        width: 100%;
        position: relative;
      }
      .title {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        color: var(--white-color);
        background: rgb(255, 0, 0, 0.6);
        z-index: 2;
        padding: 5px;
      }
    }
  }
}

.warp_group {
  padding: 30px 0;
  .topic-head {
    position: relative;
    &::before {
      content: "";
      width: 6%;
      height: 4px;
      position: absolute;
      bottom: 5px;
      left: 47%;
      background: var(--red-color);
    }
  }
  img {
    width: 100%;
    padding: 20px;
  }
}

.warp_timeline {
  background: url(../images/bg-04.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 30px 0;
  .owl-dots {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    .owl-dot {
      span {
        background: #e6e6e6;
        width: 15px;
        height: 8px;
        margin: 5px;
        transition: 0.5s;
      }
      &.active,
      &:hover {
        span {
          background: #e01737;
          width: 25px;
        }
      }
    }
  }
  .content {
    .topic-head {
      color: var(--red-color);
      position: relative;
      &::before {
        content: "";
        width: 70%;
        height: 1px;
        position: absolute;
        bottom: 30px;
        right: 0;
        background: var(--red-color);
      }
    }
    li {
      position: relative;
      padding-left: 20px;
      line-height: 1.5rem;
      margin-bottom: 15px;
      &::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 5px;
        background: var(--red-color);
      }
    }
  }
}

.warp_industry {
  margin-top: 5%;
  .topic-head {
    position: relative;
    margin-bottom: 30px;
    &::before {
      content: "";
      width: 60px;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: var(--red-color);
    }
  }
  .item-sector {
    margin-bottom: 30px;
    .image {
      position: relative;
      margin-bottom: 30px;
      img {
        width: 100%;
      }
      .logo-in {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.icon-left {
  width: 90px;
  position: absolute;
  left: 20px;
  margin-top: 20px;
  .item {
    width: 80px;
    height: 80px;
    margin: 10px auto;
    background: #bfbfbf;
    text-align: center;
    display: block;
    border-radius: 5px;
    color: var(--white-color);
    text-decoration: none;
    padding: 5px;
    transition: all 0.4s;
    box-shadow: rgb(0 0 0 / 40%) 0px 3px 2px;
    &.active {
      background: var(--red-color);
    }
    img {
      width: 50px;
    }
    span {
      font-size: 11px;
      display: block;
      line-height: 8px;
    }
    &:hover {
      background: var(--red-color);
    }
  }
}

.breadcrumb-head {
  border-bottom: 1px solid #d7d7d7;
  .breadcrumb {
    margin-bottom: 0;
    padding: 15px 0;
    .breadcrumb-item {
      a {
        color: var(--font-main-color);
        text-decoration: none;
        &:hover {
          color: var(--red-color);
        }
      }
      &.active {
        color: var(--red-color);
      }
    }
  }
}

.list-category {
  margin: 30px 0;
  li {
    margin: 5px 0;
    a {
      padding: 5px 15px;
      background: #f0f0f0;
      color: var(--font-main-color);
      text-decoration: none;
      display: block;
      transition: all 0.4s;
      &:hover {
        background: var(--red-color);
        color: var(--white-color);
        span {
          opacity: 1;
        }
      }
      span {
        float: right;
        opacity: 0;
        font-size: 18px;
        margin-top: -3px;
      }
    }
  }
}

.col-products {
  margin: 30px 0;
  .box-pd {
    margin-bottom: 20px;
    a {
      display: block;
      text-decoration: none;
      color: var(--font-main-color);
      font-weight: 500;
    }
    figure {
      @include img-cover($w: 330, $h: 330);
      margin-bottom: 15px;
      border: 1px solid #ebebeb;
    }
    &:hover {
      figure {
        img {
          transform: scale(1.2);
        }
      }
      p {
        color: var(--red-color);
      }
    }
  }
}

.detail-product {
  margin-top: 5%;
  .topic-head {
    color: var(--red-color);
    line-height: 1;
    font-size: 2rem;
  }
  .model {
    font-weight: 500;
  }
  .wrap_banner {
    .owl-productSlide {
      .owl-dots {
        position: absolute;
        bottom: 15px;
        text-align: center;
        width: 100%;
        .owl-dot {
          span {
            background: #e6e6e6;
            width: 15px;
            height: 8px;
            margin: 5px;
            transition: 0.5s;
          }
          &.active,
          &:hover {
            span {
              background: #e01737;
              width: 25px;
            }
          }
        }
      }
    }
  }
  .icon-left {
    margin-top: 70px;
    z-index: 5;
  }
  img {
    width: 100%;
    height: auto;
  }
  .content-pd {
    .specification {
      background: var(--white-color);
      padding: 30px;
      border-left: 5px solid var(--red-color);
      box-shadow: rgb(0 0 0 / 20%) 0px 1px 10px;
      h5 {
        font-weight: 500;
      }
      p {
        margin-bottom: 5px;
        font-size: 0.8rem;
      }
    }
  }
  .download {
    text-align: center;
    margin: 30px 0;
    a {
      background: var(--red-color);
      color: var(--white-color);
      padding: 8px 40px;
      border-radius: 40px;
      text-decoration: none;
      font-size: 0.8rem;
      display: inline-block;
      text-align: center;
      transition: all 0.4s;
      &:hover {
        background: var(--black-color);
      }
    }
  }
}

.warp_ct_news {
  margin-top: 5%;
  .topic-head {
    position: relative;
    margin-bottom: 30px;
    &::before {
      content: "";
      width: 60px;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: var(--red-color);
    }
  }
  .top-news {
    width: 100%;
    display: inline-block;
    margin-bottom: 40px;
    .img {
      width: 50%;
      float: left;
      figure {
        @include img-cover($w: 740, $h: 450);
        margin-bottom: 15px;
      }
    }
    .ct-right {
      width: 50%;
      float: right;
      padding: 20px;
      a {
        h4 {
          color: var(--font-main-color);
        }
      }
    }
  }
  .items {
    padding-bottom: 20px;
    a {
      display: block;
      text-decoration: none;
    }
    figure {
      @include img-cover($w: 440, $h: 300);
      margin-bottom: 15px;
    }
    .item-dateShare {
      margin: 5px 0 10px;
    }
    .btn-readMore-line {
      margin-top: 10px;
      font-size: 0.8rem;
      &::before {
        background: $red-color;
        bottom: 8px;
        left: 82px;
      }
    }
    .latest {
      color: $main-color;
    }
    &:hover {
      figure {
        img {
          transform: scale(1.05);
        }
      }
      .btn-readMore-line {
        &::before {
          width: 60px;
        }
      }
    }
  }
}

.warp_detail_news {
  margin-top: 5%;
  .header {
    border-left: 5px solid var(--red-color);
    margin-bottom: 20px;
    padding: 0 20px;
    .topic-head {
      font-size: 1.8rem;
      line-height: 1.2;
    }
  }
  .detail {
    .img {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.warp_ct_news {
  &.mt {
    margin-top: 150px;
  }
}

.warp_vdo {
  margin-top: 5%;
  margin-bottom: 30px;
  .topic-head {
    border-left: 5px solid var(--red-color);
    padding-left: 15px;
  }
  .btn-default {
    float: right;
    margin-top: 20px;
  }
}

.bg-gray {
  background: #ebebeb;
  margin-bottom: 30px;
}

.slider {
  width: 60%;
  margin: 0 auto;
  .top-vdo {
    display: block;
    width: 100%;
    padding: 50px 0 20px;
    text-align: center;
    font-size: 2em;
    .topic_head {
      font-size: 2rem;
      line-height: 1;
      margin-top: 20px;
      color: var(--green-color);
      text-transform: uppercase;
    }
  }
}

.slider-nav {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 5%;
  .item {
    display: inline-block;
    width: 280px;
    height: auto;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .txt-vdo {
      color: var(--font-main-color);
      padding: 10px;
      z-index: 2;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.5;
      display: flex;
      justify-content: center;
      flex-direction: column;
      transform: scale(0.5s);
      border: 4px solid var(--green-color);
      p {
        margin: 0;
      }
    }
    img {
      width: 100%;
      height: auto;
      opacity: 1;
      padding: 2px;
      border: 4px solid transparent;
    }
    &:hover {
      img {
        border: 4px solid #ebebeb;
      }
    }
  }
}

.warp_contact {
  padding: 30px 0;
  background: url(../images/bg-contact.png);
  background-position: bottom right;
  background-size: auto;
  background-repeat: no-repeat;
  .topic-head {
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: "";
      width: 60px;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: var(--red-color);
    }
  }
  p {
    i {
      color: var(--red-color);
      margin-right: 5px;
    }
    a {
      color: var(--font-main-color);
      text-decoration: none;
    }
  }
}

.warp_footer{
  .followUs {
    li {
      width: 35px;
      float: left;
      a {
        display: block;
        padding: 5px;
        img {
          width: 100%;
        }
      }
    }
  }
  .shopping {
    width: 100%;
    display: inline-block;
    margin: 20px 0;
    li {
      float: left;
      a {
        display: block;
        img {
          width: 60px;
          padding: 5px;
        }
      }
    }
  }
}

.form-warranty {
  margin: 5% 0;
  .header {
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
    .col-left {
      width: 50%;
      float: left;
      position: relative;
      .topic-head {
        line-height: 1;
      }
      &::before {
        content: "";
        width: 60px;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: var(--red-color);
      }
    }
    .col-right {
      width: 50%;
      float: right;
      .has-search {
        width: 60%;
        float: right;
        margin-top: 25px;
        position: relative;
        span {
          position: absolute;
          right: 10px;
          top: 10px;
        }
        .form-control {
          font-weight: 300;
        }
      }
    }
  }
  form {
    label {
      span {
        color: var(--red-color);
      }
    }
    h5 {
      margin: 15px 0;
    }
    ul {
      width: 100%;
      display: inline-block;
      li {
        width: 25%;
        height: 50px;
        float: left;
        .form-check {
          padding-left: 0;
        }
      }
    }
    .purchasing {
      width: 100%;
      display: inline-block;
      s li {
        width: 50%;
        float: left;
      }
    }
  }
}

.form-check-input {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  & + label:before {
    content: "";
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: white;
  }

  &:hover + label:before {
    background: var(--red-color);
  }

  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  &:checked + label:before {
    background: var(--red-color);
  }
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 13px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.form-control {
  font-weight: 300;
}

#datepicker {
  .input-group-addon {
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #a9a9a9;
  }
}

.datepicker {
  &.dropdown-menu {
    margin-top: 5%;
  }
}

footer {
  background: #d9d9d9;
  padding: 40px 0;
  color: #666666;
  .info {
    padding-right: 80px;
    h3 {
      font-size: 1.4rem;
      color: var(--red-color);
      text-transform: uppercase;
    }
  }
  h4 {
    font-size: 1.1rem;
    margin: 0;
  }
  .link-page {
    a {
      color: #666666;
      text-decoration: none;
      &:hover {
        color: var(--red-color);
      }
    }
  }
  .qrCode {
    text-align: center;
  }
}

.footer_bottom {
  background: var(--red-color);
  color: var(--white-color);
  padding: 5px 0;
  .copyright {
    font-size: 0.9rem;
  }
  .social {
    float: right;
    margin: 0;
    li {
      float: left;
      a {
        color: var(--white-color);
        padding: 0 5px;
      }
    }
  }
}

/*responsive*/
@media (max-width: 2600px) {
}

@media (max-width: 1920px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1380px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  .topic-head {
    font-size: 1.8rem;
  }

  .warp_welcome {
    background-position: 55%;
    .topic-sub {
      width: 100%;
    }
  }

  .warp_products {
    .item {
      height: auto;
      margin-top: 15px;
      h2 {
        font-size: 0.8rem;
      }
    }
  }

  .warp_products{
    &.page {
      .item {
        .caption{
          padding: 45px 0;
          p{
            width: 80%;
          }
        }
      }
    }
  }

  .slide-nav {
    .owl-carousel {
      .owl-nav {
        .owl-prev {
          left: 45px;
        }
        .owl-next {
          right: 45px;
        }
      }
    }
  }

  .icon-left {
    width: 100%;
    position: static;
    display: inline-block;
    margin: 15px 30px;
    .item {
      width: 90px;
      height: 65px;
      float: left;
      margin: 0 5px;
      img {
        width: 40px;
      }
    }
  }

  .list-category {
    margin: 10px 0;
    li {
      font-size: 10px;
    }
  }

  .col-products {
    margin: 10px 0 30px;
  }

  .detail-product {
    .content-pd {
      top: 15%;
      left: 5%;
      .specification {
        background: none;
        padding: 0;
        border: none;
        box-shadow: none;
      }
    }
  }

  .warp_ct_news {
    .top-news {
      .ct-right {
        padding: 0 20px;
      }
    }
  }

  .warp_detail_news {
    .header {
      .topic-head {
        font-size: 1rem;
      }
    }
    .detail {
      .img {
        margin-bottom: 20px;
      }
    }
  }

  .slider {
    width: 100%;
    .top-vdo {
      .topic_head {
        font-size: 1.5rem;
      }
    }
  }

  .slider-nav {
    .item {
      .txt-vdo {
        font-size: 1rem;
      }
    }
  }

  .warp_contact {
    background-size: contain;
    background-repeat: no-repeat;
  }

  footer {
    .info {
      padding: 0;
      h3 {
        font-size: 1rem;
      }
    }
    .qrCode {
      img {
        width: 100%;
        height: auto;
      }
    }
    h4 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
  .topic-head {
    font-size: 1.5rem;
  }

  .warp_welcome {
    background-position: 52%;
  }

  .bannerTop {
    &.absolute {
      .text-banner {
        display: none;
      }
    }
  }

  .icon-left {
    width: 100%;
    position: static;
    display: inline-block;
    margin: 15px 0;
    .item {
      width: 50px;
      height: 50px;
      float: left;
      margin: 0 5px;
      img {
        width: 40px;
      }
      span {
        display: none;
      }
    }
  }

  .list-category {
    margin: 5px 0;
  }

  .detail-product {
    .icon-left {
      display: none;
    }
    .content-pd {
      position: static;
      .topic-head {
        font-size: 1.5rem;
        margin-top: 20px;
      }
      .specification {
        border: none;
      }
    }
  }

  .warp_ct_news {
    .top-news {
      .img {
        width: 100%;
      }
      .ct-right {
        width: 100%;
      }
    }
  }

  .warp_detail_news {
    .header {
      .topic-head {
        font-size: 1.5rem;
      }
    }
  }

  .warp_vdo {
    .topic-head {
      font-size: 1.5rem;
      padding: 0 5px;
    }
    .btn-default {
      padding: 0 20px;
      font-size: 0.8rem;
      margin-top: 5px;
    }
  }

  .slider {
    width: 100%;
    .top-vdo {
      .topic_head {
        font-size: 1.2rem;
      }
    }
  }

  .slider-nav {
    .item {
      margin: 0 2px;
      .txt-vdo {
        font-size: 0.8rem;
      }
    }
  }

  .warp_contact {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .form-warranty {
    .header {
      .col-right {
        width: 100%;
        .has-search {
          width: 100%;
        }
      }
      .col-left {
        width: 100%;
      }
    }
    form {
      ul {
        li {
          width: 100%;
        }
      }
    }
  }

  footer {
    .info {
      h3 {
        font-size: 1.2rem;
      }
    }
  }

  .footer_bottom {
    .copyright {
      text-align: center;
    }
    .mobile-center {
      text-align: center;
      .social {
        margin: 0 auto;
        display: inline-block;
        float: none;
      }
    }
  }
}

@media (max-width: 380px) {
}

@media (max-width: 320px) {
}
