.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 5px 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #1A17DF;
}

.start-header.scroll-on .navbar-brand img {
    height: 40px;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.start-header.scroll-on .nav-item {
    font-size: 14px;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #1A17DF;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 55px;
    width: 70px;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none !important;
    position: relative;
    border-bottom: 1px solid #fff;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #fff !important;
    font-weight: 300;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #fff !important;
}

.nav-item.active .nav-link {
    color: #fff !important;
    border-bottom: 2px solid #fff;
}

.nav-link {
    text-transform: uppercase;
    position: relative;
    display: block;
    margin: 0 5px;
    padding: 0;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #fff;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 5px;
    position: relative;
    transition: all 200ms linear;
}

.ml-auto {
    margin-left: auto !important;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}

.nav-link.language {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar-expand-md .navbar-nav .nav-link.language {
    padding-left: 25px;
}

.nav-item.item-language:after {
    display: none;
}

.lang-mobile {
    display: none;
}

/* 
.dropdown-menu {
    min-width: 60px;
    padding: 10px !important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
}

.dropdown-item.active {
    background-color: #71bf44;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: #71bf44;
} */









/*responsive*/
@media (max-width: 1600px) {}

@media (max-width: 1366px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .navigation-wrap .container{
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .navbar-brand img {
        height: 50px;
    }

    .nav-item {
        font-size: 0.8rem;
        padding: 8px 0;
        margin: 0;
    }

    .nav-link{
        font-weight: 500;
        margin: 0;
    }

    .navbar-expand-md .navbar-nav .nav-link.language {
        padding-left: 10px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 38px;
    }

    .nav-item:after {
        display: none;
    }
}

@media (max-width: 575px) {

    .start-header.scroll-on{
        background: #000000;
    }

    .navbar .container-fluid {
        padding: 0;
    }

    .navbar-nav{
        height: 100vh;
        border-top: 1px solid #5e5a5b;
        padding-top: 0 !important;
        margin-top: 20px;
    }

    .navbar-expand-md .navbar-nav .nav-link.language {
        display: none;
    }

    .scroll-on .lang-mobile {
        top: 7px;
    }

    .start-header .nav-item{
        border-bottom: 1px solid #5e5a5b;
        margin: 0;
    }
    .nav-item.active .nav-link{
        border: none;
    }
    .nav-item.item-language{
        border-bottom: none !important;
    }

    .nav-item.dropdown {
        display: none;
    }

    .lang-mobile {
        position: absolute;
        top: 10px;
        right: 50px;
        display: block;
    }

    .lang-mobile ul li {
        float: left;
        padding: 0 5px;
        border-right: 1px solid #ccc;
    }

    .lang-mobile ul li:last-child {
        border: none;
    }

    .lang-mobile ul li a {
        color: #fff;
        text-decoration: none;
    }

    .owl-theme .owl-nav {
        display: none;
    }

    .warp_timeline .owl-dots {
        display: none;
    }

}